quartz.scheduler.instanceName = MyScheduler
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.threadPool.threadCount = 3
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.dataSource.myDS.connectionString = Server=10.140.10.2;Database=quartz;Uid=stwebuser_ub;Pwd=qwerty@123